<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
   <link rel="stylesheet" href="style.css">
</head>
<body>
  
   <div id="app">
      <div class="header">
         <h1>Boite de réception</h1>
         <button type="button" id="refresh" @click="refreshEmails">
            <span v-if="isRefreshing">Acutalisation en cours...</span>
            <span v-else>Actualiser</span>
         </button>
      </div>
      <p class="total">Vous avez en total <strong>{{result.length}}</strong> email</p>
      <div v-if="loading">Loading emails</div>
   <div v-else class="emails">
      <div v-for="email in result" :key="email.id" class="card">
         <div class="card-header">
            <div class="sender-info">
               <h5 class="name">{{email.name}}</h5>
               <span class="date">{{formatDate(email.createdAt)}}</span>
            </div>
            <div class="email-address">{{email.email}}</div>
         </div>
         <div class="card-body">
            <h6 class="subject">{{email.sujet}}</h6>
            <p class="message">{{email.message}}</p>
         </div>
      </div>
   </div>
   </div>




   <script src="https://unpkg.com/vue@3"></script>
   <script src="script.js"></script>
</body>
</html>